@use '@/styles/patterns' as *;
@use '@/styles/mixins' as *;

.card {
    grid-area: social;

    .list {
        @include settings-list;
    }

    &.skeleton {
        .itemSkeleton {
            height: 50px;
            width: 100%;
        }
    }

    @include media-down(lg) {
        &.skeleton {
            .itemSkeleton {
                height: 45px;
            }
        }
    }

    @include media-down(sm) {
        &.skeleton {
            .itemSkeleton {
                height: 100px;
            }
        }
    }
}
