.button {
    align-items: center;
    background: transparent;
    color: inherit;
    display: inline-flex;
    justify-content: center;

    svg {
        height: 100%;
        width: 100%;
    }
}
