@use '@/styles/mixins' as *;
@use '@/styles/patterns' as *;

.input {
    @include input-full;
}

.textareaField {
    grid-column: span 2;

    .textarea {
        height: 218px;
        max-width: 100%;
    }

    @include media-down(sm) {
        grid-column: auto;
    }
}
