@use '@/styles/tokens' as *;

.sidebar {
    background-color: $white;
    border-right: $border solid $gray-light;
    height: 100vh;
    padding: $space-4 $space-3;
    width: 250px;

    .menu {
        display: flex;
        flex-direction: column;
        gap: $space-5;

        .menuItem,
        .submenuItem {
            color: $gray-darkest;
            font-size: $text-2xl;
            font-weight: $font-medium;
        }

        .menuItem {
            padding: $space-1 $space-2;
        }
    }
}
