@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $space-2;

    .avatar {
        border-radius: $rounded-full;
        height: 128px;
        width: 128px;
    }

    .info {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: $space-1;
        text-align: center;

        .name {
            color: $gray-darkest;
            font-size: $text-4xl;
            font-weight: $font-bold;
        }

        .role {
            color: $purple-dark;
            font-size: $text-xl;
            font-weight: $font-medium;
            margin-bottom: $space-2;
        }

        .country {
            align-items: center;
            color: $gray-dark;
            display: flex;
            font-size: $text-lg;
            font-weight: $font-medium;
            gap: $space-1;
        }

        .icon {
            height: 16px;
            width: 16px;
        }
    }

    &.skeleton {
        .avatarSkeleton {
            border-radius: $rounded-full;
            height: 128px;
            width: 128px;
        }

        .nameSkeleton {
            height: 28px;
            width: 145px;
        }

        .roleSkeleton {
            height: 18px;
            width: 140px;
        }

        .countrySkeleton {
            height: 16px;
            width: 165px;
        }
    }

    @include media-down(lg) {
        gap: $space-1;

        .avatar {
            height: 96px;
            width: 96px;
        }

        .info {
            .name {
                font-size: $text-3xl;
            }

            .role {
                font-size: $text-lg;
                margin-bottom: $space-1;
            }

            .country {
                font-size: $text-base;
            }
        }

        &.skeleton {
            .avatarSkeleton {
                height: 96px;
                width: 96px;
            }

            .nameSkeleton {
                height: 25px;
                width: 130px;
            }

            .roleSkeleton {
                height: 15px;
                width: 120px;
            }

            .countrySkeleton {
                height: 16px;
                width: 140px;
            }
        }
    }

    @include media-down(sm) {
        gap: $space-2;

        .avatar {
            height: 80px;
            width: 80px;
        }

        .info {
            gap: $space-0-5;

            .name {
                font-size: $text-2xl;
            }

            .role {
                font-size: $text-base;
                margin-bottom: $space-0-5;
            }

            .country {
                font-size: $text-sm;
            }

            .icon {
                height: 14px;
                width: 14px;
            }
        }
    }
}
