@use '@/styles/tokens' as *;

.container {
    display: flex;
    flex-direction: column;

    .title {
        color: $gray-darkest;
        font-size: $text-2xl;
        font-weight: $font-bold;
    }

    .chartContainer {
        align-self: center;
        margin-top: $space-6;
        max-width: 182px;
        width: 100%;

        .chart {
            aspect-ratio: 1;
            height: 100%;
            width: 100%;
        }
    }
}
