@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.footer {
    align-items: center;
    display: flex;
    gap: $space-6;
    justify-content: space-between;
    padding: $space-6 $space-5;

    .info {
        align-items: center;
        display: flex;
        gap: $space-3;
    }

    @include media-down(lg) {
        padding: $space-5 $space-2-5;

        .info {
            display: none;
        }
    }

    @include media-down(sm) {
        padding: $space-5 $space-0;
    }
}
