@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.layout {
    display: grid;
    gap: $space-3;
    grid-template-areas: 'sidebar feed timeline';
    grid-template-columns: minmax(0, 1fr) minmax(0, 1.75fr) minmax(0, 1fr);

    @include media-down(lg) {
        gap: $space-1-5;
        grid-template-areas:
            'sidebar feed'
            'timeline feed';
        grid-template-columns: minmax(0, 1fr) minmax(0, 1.5fr);
    }
}
