@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    align-items: center;
    display: flex;
    min-width: 0;

    .text {
        display: flex;
        flex-direction: column;
        gap: $space-0-5;
        min-width: 0;

        .name,
        .email {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .name {
            color: $gray-darkest;
            font-weight: $font-medium;
        }

        .email {
            color: $gray-dark;
            font-weight: $font-normal;
        }
    }

    &.sm {
        gap: $space-1-5;

        .text {
            .name {
                font-size: $text-xl;
            }

            .email {
                font-size: $text-lg;
            }
        }

        @include media-down(md) {
            .text {
                .name {
                    font-size: $text-lg;
                }

                .email {
                    font-size: $text-base;
                }
            }
        }

        @include media-down(xs) {
            gap: $space-2;

            .text {
                gap: $space-1;

                .name {
                    font-size: $text-2xl;
                }

                .email {
                    font-size: $text-xl;
                }
            }
        }
    }

    &.md {
        gap: $space-6;

        .text {
            .name {
                font-size: $text-2xl;
            }

            .email {
                font-size: $text-xl;
            }
        }
    }
}
