@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    grid-area: general;

    .form {
        display: grid;
        gap: $space-5 $space-4;
        grid-template-columns: repeat(2, 1fr);

        .button {
            grid-column: 1 / 2;
            width: max-content;
        }
    }

    &.skeleton {
        .labelSkeleton {
            height: 20px;
            margin-bottom: $space-4;
            width: 100px;
        }

        .inputSkeleton {
            height: 44px;
            width: 100%;
        }

        .buttonSkeleton {
            height: 40px;
            width: 80px;
        }
    }

    @include media-down(lg) {
        .form {
            gap: $space-4 $space-3;

            .button {
                grid-column: 1 / 3;
                width: 100%;
            }
        }

        &.skeleton {
            .labelSkeleton {
                margin-bottom: $space-2-5;
            }

            .buttonSkeleton {
                grid-column: 1 / 3;
                width: 100%;
            }
        }
    }

    @include media-down(sm) {
        .form {
            gap: $space-5;
            grid-template-columns: 1fr;

            .button {
                grid-column: 1 / 2;
            }
        }
    }
}
