@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.sidebar {
    display: flex;
    flex-direction: column;
    gap: $space-3;
    grid-area: sidebar;

    @include media-down(lg) {
        gap: $space-1-5;
    }

    @include media-down(sm) {
        gap: $space-3;
    }
}
