@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    background-color: $white;
    border: $border solid $gray-light;
    border-radius: $rounded-md;
    box-shadow: $shadow;
    padding: $space-5;
    width: max-content;

    @include media-down(lg) {
        padding: $space-4;
    }

    @include media-down(sm) {
        padding: $space-5;
    }
}
