@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.tooltip {
    background-color: $white;
    border: $border solid $gray-light;
    border-radius: $rounded;
    box-shadow: $shadow;
    min-height: 52px;
    min-width: 118px;
    padding: $space-2 $space-1-5 $space-3;
    position: relative;
    width: max-content;

    .title {
        color: $gray-darkest;
        font-size: $text-lg;
        font-weight: $font-semibold;
        margin-bottom: $space-2;
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: $space-2;

        .item {
            align-items: center;
            display: flex;

            .dot {
                border-radius: $rounded-full;
                height: 8px;
                margin-right: $space-1;
                width: 8px;
            }

            .label {
                color: $gray-dark;
                font-size: $text-lg;
                font-weight: $font-normal;
            }

            .value {
                color: $gray-darkest;
                font-size: $text-lg;
                font-weight: $font-semibold;
                margin-left: $space-0-5;
            }
        }
    }

    &.withArrow {
        &::before {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $gray-light;
            content: '';
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translateX(-50%);
        }

        &::after {
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 8px solid $white;
            content: '';
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translateX(-50%);
        }
    }

    @include media-down(lg) {
        min-height: 44px;
        min-width: 84px;

        .title {
            font-size: $text-base;
            margin-bottom: $space-1-5;
        }

        .items {
            gap: $space-1-5;

            .item {
                .label {
                    font-size: $text-base;
                }

                .value {
                    font-size: $text-base;
                }
            }
        }

        &.withArrow {
            &::before {
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid $gray-light;
            }

            &::after {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 6px solid $white;
            }
        }
    }

    @include media-down(sm) {
        min-height: 60px;
        min-width: 106px;
        padding: $space-2 $space-2 $space-3-5;

        .title {
            font-size: $text-xl;
            margin-bottom: $space-2-5;
        }

        .items {
            gap: $space-2-5;

            .item {
                .dot {
                    height: 10px;
                    width: 10px;
                }

                .label {
                    font-size: $text-xl;
                }

                .value {
                    font-size: $text-xl;
                    margin-left: $space-1;
                }
            }
        }

        &.withArrow {
            &::before {
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                border-top: 10px solid $gray-light;
            }

            &::after {
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid $white;
            }
        }
    }
}
