@use '@/styles/tokens' as *;

.select {
    appearance: none;
    background: url('@/shared/icons/outline/chevron-down.svg') right $space-3
        center / 14px no-repeat;
    background-color: $gray-light;
    border: $border solid $gray-base;
    border-radius: $rounded;
    color: $gray-dark;
    font-size: $text-xl;
    font-weight: $font-normal;
    max-width: 240px;
    padding: $space-2 $space-3;
    width: 100%;

    &:focus {
        outline: none;
    }
}
