@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.wrapper {
    align-items: center;
    display: flex;
    max-width: 224px;
    position: relative;
    width: 100%;

    .icon {
        position: absolute;
        transition: color 0.3s ease;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    .input {
        border: $border solid;
        border-radius: $rounded;
        color: $gray-darkest;
        font-weight: $font-normal;
        height: inherit;
        transition: border-color 0.3s ease;
        width: inherit;
    }

    /* Status */
    @include input-variant(
        $gray-light,
        $gray-base,
        $gray-base,
        $gray-dark,
        $blue-dark
    );

    &.success {
        @include input-variant(
            $green-light,
            $green-base,
            $green-base,
            $green-base,
            $green-dark
        );
    }

    &.danger {
        @include input-variant(
            $red-light,
            $red-base,
            $red-base,
            $red-base,
            $red-dark
        );
    }

    /* Sizes */
    &.regular {
        height: 32px;

        .icon {
            height: 16px;
            left: $space-2;
            top: $space-2;
            width: 16px;
        }

        .input {
            font-size: $text-xl;
            padding: $space-1-5 $space-3;
        }

        &.withIcon {
            .input {
                padding-left: $space-8;
            }
        }
    }

    &.large {
        height: 38px;

        .icon {
            height: 18px;
            left: $space-2-5;
            top: $space-2-5;
            width: 18px;
        }

        .input {
            font-size: $text-2xl;
            padding: $space-2 $space-3-5;
        }

        &.withIcon {
            .input {
                padding-left: $space-9;
            }
        }
    }

    /* Disabled */
    &.disabled {
        opacity: 0.55;
        pointer-events: none;
    }
}
