@use '@/styles/tokens' as *;

.container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .nav {
        .list {
            display: flex;
            gap: $space-4;

            .item {
                color: $gray-dark;
                font-size: $text-xl;
                font-weight: $font-medium;
            }
        }
    }

    .link {
        align-items: center;
        color: $gray-dark;
        display: flex;
        font-size: $text-xl;
        font-weight: $font-medium;
        gap: $space-1-5;
    }
}
