@use '@/styles/tokens' as *;

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space-8 $space-4;
    text-align: center;
    width: 100%;

    .icon {
        align-items: center;
        background-color: $gray-light;
        border-radius: $rounded;
        color: $gray-base;
        display: flex;
        height: 64px;
        justify-content: center;
        margin-bottom: $space-4;
        width: 64px;

        svg {
            height: 32px;
            width: 32px;
        }
    }

    .title {
        color: $gray-darkest;
        font-size: $text-3xl;
        font-weight: $font-semibold;
        margin-bottom: $space-2;
    }

    .description {
        color: $gray-dark;
        font-size: $text-lg;
        font-weight: $font-normal;
        max-width: 420px;
    }

    .action {
        display: flex;
        justify-content: center;
        margin-top: $space-6;
    }
}
