@use '@/styles/tokens' as *;

.item {
    align-items: center;
    border-bottom: $border solid $gray-light;
    display: flex;
    gap: $space-5;
    padding-bottom: $space-3;

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    .image {
        border-radius: $rounded;
        flex-shrink: 0;
        height: 80px;
        object-fit: cover;
        width: 112px;
    }

    .content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: $space-1-5;

        .name {
            color: $gray-darkest;
            font-size: $text-2xl;
            font-weight: $font-semibold;
        }

        .category {
            color: $gray-dark;
            font-size: $text-xl;
            font-weight: $font-medium;
        }

        .price {
            color: $green-dark;
            font-size: $text-2xl;
            font-weight: $font-semibold;
        }
    }
}
