@use '@/styles/tokens' as *;

.container {
    align-items: center;
    display: flex;
    gap: $space-4;
    padding: $space-4 $space-5;

    .input {
        border-radius: $rounded-md;
        height: 48px;
        max-width: 562px;
    }

    .actions {
        align-items: center;
        border-left: $border solid $gray-light;
        display: flex;
        gap: $space-4;
        padding-left: $space-3-5;
    }

    .button {
        margin-left: auto;
    }
}
