@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    grid-area: language;

    .form {
        display: flex;
        flex-direction: column;
        gap: $space-5;

        .button {
            width: max-content;
        }
    }

    &.skeleton {
        .labelSkeleton {
            height: 20px;
            margin-bottom: $space-4;
            width: 125px;
        }

        .selectSkeleton {
            height: 42px;
            width: 100%;
        }

        .buttonSkeleton {
            height: 40px;
            width: 80px;
        }
    }

    @include media-down(lg) {
        .form {
            flex-direction: row;
            flex-wrap: wrap;
            gap: $space-3-5;

            .field {
                flex-grow: 1;
            }

            .button {
                width: 100%;
            }
        }

        &.skeleton {
            .labelSkeleton {
                margin-bottom: $space-2-5;
            }

            .buttonSkeleton {
                width: 100%;
            }
        }
    }

    @include media-down(sm) {
        .form {
            flex-direction: column;
        }
    }
}
