@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.tableCell {
    color: $gray-darkest;
    font-weight: $font-normal;
    min-width: 0;
    text-align: start;

    &.header {
        font-weight: $font-semibold;
        text-transform: uppercase;
    }

    &.md {
        font-size: $text-lg;
    }

    &.lg {
        font-size: $text-xl;
    }

    @include media-down(md) {
        &.md {
            font-size: $text-base;
        }
    }

    @include media-down(xs) {
        &.md {
            font-size: $text-2xl;
        }
    }
}
