@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.header {
    align-items: center;
    background-color: $white;
    border-bottom: $border solid $gray-light;
    display: flex;
    gap: $space-8;
    grid-area: header;
    height: 71px;
    padding: $space-3-5 $space-5;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

    @include media-down(md) {
        gap: $space-5;
        height: 63px;
        padding: $space-3-5 $space-4;
    }

    @include media-down(xs) {
        .logo {
            display: none;
        }
    }
}
