@use '@/styles/tokens' as *;

.container {
    .header {
        .title {
            color: $gray-darkest;
            font-size: $text-2xl;
            font-weight: $font-bold;
            margin-bottom: $space-1-5;
        }

        .text {
            color: $gray-dark;
            font-size: $text-lg;
            font-weight: $font-normal;
        }
    }

    .tableContainer {
        margin-top: $space-4;

        strong {
            font-weight: $font-semibold;
        }
    }
}
