@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    .header {
        .title {
            color: $gray-darkest;
            font-size: $text-2xl;
            font-weight: $font-bold;
            margin-bottom: $space-1-5;
        }

        .text {
            color: $gray-dark;
            font-size: $text-lg;
            font-weight: $font-normal;
        }
    }

    .tableContainer {
        --table-columns: 3fr 2fr 1fr minmax(85px, 1fr);

        margin-top: $space-4;

        strong {
            font-weight: $font-semibold;
        }
    }

    &.skeleton {
        .titleSkeleton {
            height: 20px;
            width: 110px;
        }

        .textSkeleton {
            height: 15px;
            width: 200px;
        }

        .tableSkeleton {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .transactionSkeleton {
            height: 42px;
            width: 42%;
        }

        .dateSkeleton {
            height: 42px;
            width: 28%;
        }

        .amountSkeleton,
        .statusSkeleton {
            height: 42px;
            width: 15%;
        }
    }

    @include media-down(md) {
        .header {
            .title {
                font-size: $text-xl;
                margin-bottom: $space-1;
            }

            .text {
                font-size: $text-base;
            }
        }

        .tableContainer {
            --table-columns: 3fr 2fr 1fr;

            margin-top: $space-3-5;

            .status {
                display: none;
            }
        }

        &.skeleton {
            .titleSkeleton {
                height: 18px;
                width: 90px;
            }

            .textSkeleton {
                height: 12px;
                width: 160px;
            }

            .transactionSkeleton {
                height: 38px;
                width: 50%;
            }

            .dateSkeleton {
                height: 38px;
                width: 33%;
            }

            .amountSkeleton {
                height: 38px;
                width: 17%;
            }

            .statusSkeleton {
                display: none;
            }
        }
    }

    @include media-down(xs) {
        .header {
            .title {
                font-size: $text-3xl;
                margin-bottom: $space-2;
            }

            .text {
                font-size: $text-xl;
            }
        }

        .tableContainer {
            --table-columns: 2fr 1fr;

            margin-top: $space-5;

            .amount {
                display: none;
            }
        }

        &.skeleton {
            .titleSkeleton {
                height: 25px;
                width: 125px;
            }

            .textSkeleton {
                height: 18px;
                width: 225px;
            }

            .transactionSkeleton {
                height: 54px;
                width: 66%;
            }

            .dateSkeleton {
                height: 54px;
                width: 34%;
            }

            .amountSkeleton {
                display: none;
            }
        }
    }
}
