@use '@/styles/tokens' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    .header {
        .title {
            color: $gray-darkest;
            font-size: $text-2xl;
            font-weight: $font-bold;
            margin-bottom: $space-1-5;
        }

        .text {
            color: $gray-dark;
            font-size: $text-lg;
            font-weight: $font-normal;
        }
    }

    .tableContainer {
    }
}
