@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    margin: $space-3 $space-1-5 $space-1-5;

    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .titleWrapper {
            align-items: center;
            display: flex;
            gap: $space-2;

            .title {
                color: $black;
                font-size: $text-2xl;
                font-weight: $font-bold;
            }

            svg {
                color: $gray-base;
                height: 22px;
                width: 22px;
            }
        }
    }

    .chartContainer {
        margin-top: $space-10;

        .chart {
            aspect-ratio: 1.618;
            height: 330px;
            width: 100%;

            :global(.recharts-cartesian-axis-tick-value) {
                fill: $gray-dark;
                font-size: $text-lg;
                font-weight: $font-medium;
            }
        }
    }

    @include media-down(md) {
        margin: 0;

        .header {
            .titleWrapper {
                .title {
                    font-size: $text-xl;
                }

                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        .chartContainer {
            margin-top: $space-6;

            .chart {
                height: 290px;

                :global(.recharts-cartesian-axis-tick-value) {
                    font-size: $text-base;
                }
            }
        }
    }
}
