@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    margin: $space-3 $space-1-5 $space-1-5;

    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .titleWrapper {
            align-items: center;
            display: flex;
            gap: $space-2;

            .title {
                color: $black;
                font-size: $text-2xl;
                font-weight: $font-bold;
            }

            svg {
                color: $gray-base;
                height: 22px;
                width: 22px;
            }
        }
    }

    .chartContainer {
        margin-top: $space-10;

        .chart {
            aspect-ratio: 1.618;
            height: 330px;
            width: 100%;

            :global(.recharts-cartesian-axis-tick-value) {
                fill: $gray-dark;
                font-size: $text-lg;
                font-weight: $font-medium;
            }
        }
    }

    &.skeleton {
        .titleSkeleton {
            height: 20px;
            width: 50px;
        }

        .iconSkeleton {
            height: 22px;
            width: 22px;
        }

        .groupSkeleton {
            display: flex;
        }

        .buttonSkeleton {
            &:first-child {
                height: 32px;
                width: 55px;
            }

            &:nth-child(2) {
                height: 32px;
                width: 65px;
            }

            &:last-child {
                height: 32px;
                width: 50px;
            }
        }
    }

    @include media-down(md) {
        margin: 0;

        .header {
            .titleWrapper {
                .title {
                    font-size: $text-xl;
                }

                svg {
                    height: 20px;
                    width: 20px;
                }
            }
        }

        .chartContainer {
            margin-top: $space-6;

            .chart {
                height: 290px;

                :global(.recharts-cartesian-axis-tick-value) {
                    font-size: $text-base;
                }
            }
        }
    }

    @include media-down(xs) {
        .header {
            align-items: flex-start;
            flex-direction: column;
            gap: $space-3;

            .titleWrapper {
                .title {
                    font-size: $text-3xl;
                }

                svg {
                    height: 26px;
                    width: 26px;
                }
            }
        }

        .chartContainer {
            margin-top: $space-7;

            .chart {
                height: 404px;

                :global(.recharts-cartesian-axis-tick-value) {
                    font-size: $text-xl;
                }
            }
        }
    }
}
