@use '@/styles/mixins' as *;

$header-height-desktop: 71px;
$header-height-tablet: 63px;
$footer-height-desktop: 120px;
$footer-height-tablet: 143px;
$sidebar-width: 250px;

.layout {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar main'
        'sidebar footer';
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: $header-height-desktop 1fr $footer-height-desktop;
    min-height: 100vh;

    .main {
        grid-area: main;
        overflow-y: auto;
    }

    @include media-down(md) {
        grid-template-areas:
            'header'
            'main'
            'footer';
        grid-template-columns: 1fr;
        grid-template-rows: $header-height-tablet 1fr $footer-height-tablet;
    }
}
