@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

$header-height-desktop: 71px;
$header-height-tablet: 63px;
$footer-height-desktop: 120px;
$footer-height-tablet: 143px;
$sidebar-width: 250px;

.layout {
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar content';
    grid-template-columns: $sidebar-width 1fr;
    grid-template-rows: $header-height-desktop 1fr;
    min-height: 100vh;

    .content {
        display: grid;
        gap: $space-3;
        grid-area: content;
        grid-template-areas:
            'main'
            'footer';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr $footer-height-desktop;
        padding: $space-3;

        .main {
            grid-area: main;
            overflow-y: auto;
        }
    }

    @include media-down(md) {
        grid-template-areas:
            'header'
            'content';
        grid-template-columns: 1fr;
        grid-template-rows: $header-height-tablet 1fr;

        .content {
            grid-template-rows: 1fr $footer-height-tablet;
        }
    }
}
