@use '@/styles/patterns' as *;

.card {
    grid-area: connected;

    .list {
        @include settings-list;
    }

    &.skeleton {
        .itemSkeleton {
            height: 60px;
            width: 100%;
        }
    }
}
