@use '@/styles/tokens' as *;

.container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .actions {
        align-items: center;
        display: flex;
        gap: $space-3;
    }
}
