@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .actions {
        align-items: center;
        display: flex;
        gap: $space-3;

        .userInfo {
            color: $gray-darkest;
            display: flex;
            flex-direction: column;
            gap: $space-0-5;
        }
    }

    @include media-down(md) {
        justify-content: flex-end;

        .input {
            display: none;
        }

        .actions {
            gap: $space-2-5;
        }
    }
}
