@use '@/styles/tokens' as *;

.item {
    align-items: flex-start;
    display: flex;
    gap: $space-5;

    .icon {
        align-items: center;
        border-radius: $rounded-full;
        display: flex;
        height: 60px;
        justify-content: center;
        width: 60px;

        svg {
            height: 28px;
            width: 28px;
        }

        &.red {
            background-color: $red-light;
            color: $red-dark;
        }

        &.blue {
            background-color: $blue-light;
            color: $blue-dark;
        }

        &.green {
            background-color: $green-light;
            color: $green-dark;
        }

        &.orange {
            background-color: $orange-light;
            color: $orange-dark;
        }

        &.purple {
            background-color: $purple-light;
            color: $purple-dark;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: $space-1-5;

        .title {
            color: $gray-darkest;
            font-size: $text-2xl;
            font-weight: $font-semibold;
        }

        .target {
            color: $blue-dark;
            font-size: $text-xl;
            font-weight: $font-normal;
        }

        .date {
            align-items: center;
            color: $gray-base;
            display: flex;
            font-size: $text-lg;
            font-weight: $font-medium;
            gap: $space-1;

            svg {
                height: 16px;
                width: 16px;
            }
        }
    }
}
