@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.item {
    align-items: flex-start;
    display: flex;
    gap: $space-5;

    .iconWrapper {
        align-items: center;
        border-radius: $rounded-full;
        display: flex;
        height: 60px;
        justify-content: center;
        position: relative;
        width: 60px;

        .icon {
            height: 28px;
            width: 28px;
        }

        &::after {
            background-color: $gray-light;
            content: '';
            height: 100%;
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translateX(-50%);
            width: 2px;
        }

        &.red {
            background-color: $red-light;
            color: $red-dark;
        }

        &.blue {
            background-color: $blue-light;
            color: $blue-dark;
        }

        &.green {
            background-color: $green-light;
            color: $green-dark;
        }

        &.orange {
            background-color: $orange-light;
            color: $orange-dark;
        }

        &.purple {
            background-color: $purple-light;
            color: $purple-dark;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: $space-1-5;

        .title {
            color: $gray-darkest;
            font-size: $text-2xl;
            font-weight: $font-semibold;
        }

        .target {
            color: $blue-dark;
            font-size: $text-xl;
            font-weight: $font-normal;
        }

        .date {
            align-items: center;
            color: $gray-base;
            display: flex;
            font-size: $text-lg;
            font-weight: $font-medium;
            gap: $space-1;

            svg {
                height: 16px;
                width: 16px;
            }
        }
    }

    &:last-child {
        .iconWrapper::after {
            display: none;
        }
    }

    @include media-down(lg) {
        gap: $space-3;

        .iconWrapper {
            height: 48px;
            width: 48px;

            .icon {
                height: 22px;
                width: 22px;
            }
        }

        .content {
            gap: $space-1;

            .title {
                font-size: $text-xl;
            }

            .target {
                font-size: $text-lg;
            }

            .date {
                font-size: $text-base;

                svg {
                    height: 14px;
                    width: 14px;
                }
            }
        }
    }
}
