@use '@/styles/tokens' as *;

.item {

    .info {

        .icon {
            height: 32px;
            width: 32px;
        }

        .content {

            .title {
                color: $gray-darkest;
                font-size: $text-2xl;
                font-weight: $font-semibold;
            }

            .link {
                color: $blue-dark;
                font-size: $text-xl;
                font-weight: $font-medium;
            }

            .text {
                color: $gray-dark;
                font-size: $text-xl;
                font-weight: $font-medium;
            }
        }
    }
}
