@use '@/styles/tokens' as *;
@use '@/styles/patterns' as *;

.item {
    @include settings-list-item;

    .info {
        @include settings-list-info;

        .icon {
            flex-shrink: 0;
            height: 32px;
            width: 32px;
        }

        .content {
            @include settings-list-content;

            .title {
                color: $gray-darkest;
                font-size: $text-2xl;
                font-weight: $font-semibold;
            }

            .link {
                color: $blue-dark;
                font-size: $text-xl;
                font-weight: $font-medium;
                word-break: break-all;
            }

            .text {
                color: $gray-dark;
                font-size: $text-xl;
                font-weight: $font-medium;
            }
        }
    }
}
