@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    display: grid;
    gap: $space-12;
    grid-template-columns: repeat(2, 1fr);
    margin: $space-3;
    max-width: 1082px;
    padding: $space-20 $space-16;
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
        gap: $space-8;

        .title {
            color: $gray-darkest;
            font-size: $text-6xl;
            font-weight: $font-bold;
        }
    }

    .illustration {
        align-self: center;
        justify-self: center;

        .image {
            height: 350px;
            width: auto;
        }
    }

    @include media-down(lg) {
        gap: $space-10;
        grid-template-columns: 1fr;
        margin: $space-1-5;
        padding: $space-8;

        .content {
            gap: $space-6;

            .title {
                font-size: $text-5xl;
            }
        }

        .illustration {
            .image {
                height: 250px;
            }
        }
    }
}
