@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    grid-area: password;

    .form {
        display: grid;
        gap: $space-5 $space-4;
        grid-template-columns: repeat(2, 1fr);

        .requirements {
            display: flex;
            flex-direction: column;
            gap: $space-2;

            .title {
                color: $gray-darkest;
                font-size: $text-2xl;
                font-weight: $font-medium;
            }

            .description {
                color: $gray-dark;
                font-size: $text-xl;
                font-weight: $font-normal;
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: $space-2;
                margin-left: $space-3-5;

                .item {
                    color: $gray-dark;
                    font-size: $text-lg;
                    font-weight: $font-normal;
                }
            }
        }

        .button {
            width: max-content;
        }
    }

    @include media-down(lg) {
        .form {
            gap: $space-4;
            grid-template-columns: 1fr;

            .requirements {
                .title {
                    font-size: $text-xl;
                }

                .description {
                    font-size: $text-lg;
                }

                .list {
                    margin-left: $space-3;

                    .item {
                        font-size: $text-base;
                    }
                }
            }

            .button {
                width: 100%;
            }
        }
    }

    @include media-down(sm) {
        .form {
            gap: $space-5;

            .requirements {
                gap: $space-2-5;

                .title {
                    font-size: $text-2xl;
                }

                .description {
                    font-size: $text-xl;
                }

                .list {
                    gap: $space-2-5;
                    margin-left: $space-4;

                    .item {
                        font-size: $text-lg;
                    }
                }
            }
        }
    }
}
