@use '@/styles/tokens' as *;

.card {
    grid-area: password;

    .form {
        display: grid;
        gap: $space-5 $space-4;
        grid-template-columns: repeat(2, 1fr);

        .requirements {
            display: flex;
            flex-direction: column;
            gap: $space-2;

            .title {
                color: $gray-darkest;
                font-size: $text-2xl;
                font-weight: $font-medium;
            }

            .description {
                color: $gray-dark;
                font-size: $text-xl;
                font-weight: $font-normal;
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: $space-2;
                margin-left: $space-3-5;

                .item {
                    color: $gray-dark;
                    font-size: $text-lg;
                    font-weight: $font-normal;
                }
            }
        }

        .button {
            width: max-content;
        }
    }
}
