// Border widths
$border: 1px;
$border-2: 2px;
$border-4: 4px;
$border-8: 8px;

// Border radius
$rounded-sm: 0.25rem;   // 4px
$rounded: 0.625rem;     // 10px
$rounded-md: 1rem;      // 16px
$rounded-lg: 1.375rem;  // 22px
$rounded-full: 50%;     // 50%
