// Gray
$gray-darkest: #18181b;
$gray-dark: #52525b;
$gray-base: #a1a1aa;
$gray-light: #f4f4f5;

// Red
$red-darkest: #771d1d;
$red-dark: #e02424;
$red-base: #f98080;
$red-light: #fde8e8;

// Orange
$orange-darkest: #771d1d;
$orange-dark: #d03801;
$orange-base: #ff8a4c;
$orange-light: #feecdc;

// Yellow
$yellow-darkest: #633112;
$yellow-dark: #9f580a;
$yellow-base: #e3a008;
$yellow-light: #fdf6b2;

// Green
$green-darkest: #014737;
$green-dark: #057a55;
$green-base: #31c48d;
$green-light: #def7ec;

// Blue
$blue-darkest: #233876;
$blue-dark: #1c64f2;
$blue-base: #76a9fa;
$blue-light: #d5f5f6;

// Purple
$purple-darkest: #4a1d96;
$purple-dark: #7e3af2;
$purple-base: #ac94fa;
$purple-light: #edebfe;

// Pink
$pink-darkest: #751a3d;
$pink-dark: #d61f69;
$pink-base: #f17eb8;
$pink-light: #fce8f3;
