// Font Famoly
$font-family-base: 'Inter', system-ui, sans-serif;

// Font sizes
$text-xs: 0.375rem; // 6px
$text-sm: 0.5rem; // 8px
$text-base: 0.625rem; // 10px
$text-lg: 0.75rem; // 12px
$text-xl: 0.875rem; // 14px
$text-2xl: 1rem; // 16px
$text-3xl: 1.25rem; // 20px
$text-4xl: 1.375rem; // 22px
$text-5xl: 1.75rem; // 28px
$text-6xl: 2.125rem; // 34px
$text-7xl: 2.5rem; // 40px
$text-8xl: 3.375rem; // 54px
$text-9xl: 4.5rem; // 72px

// Font weights
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;
