@use '@/styles/tokens' as *;

.group {
    border-radius: $rounded;
    box-shadow: $shadow;
    display: flex;
    width: min-content;

    button:not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    button:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    button:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
}
