@use '@/styles/tokens' as *;

.textarea {
    background-color: $gray-light;
    border: $border solid $gray-base;
    border-radius: $rounded;
    box-shadow: $shadow;
    color: $gray-darkest;
    font-family: $font-family-base;
    font-weight: $font-normal;
    max-width: 224px;
    min-height: 150px;
    outline: none;
    resize: none;
    width: 100%;

    &::placeholder {
        color: $gray-base;
        font-weight: $font-normal;
    }

    &.small {
        font-size: $text-xl;
        padding: $space-3;
    }

    &.medium {
        font-size: $text-2xl;
        padding: $space-3-5;
    }

    &.large {
        border-radius: $rounded-md;
        font-size: $text-2xl;
        padding: $space-3-5 $space-5;
    }
}
