@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: $space-4;
}

.details {
    display: flex;
    flex-direction: column;

    .highlightValue {
        color: $blue-dark;
    }
}

.skeleton {
    .statSkeleton {
        height: 115px;
        width: 100%;
    }

    .itemSkeleton {
        height: 60px;
        width: 100%;
    }
}

@include media-down(lg) {
    .stats {
        margin-bottom: $space-3;
    }
}

@include media-down(sm) {
    .stats {
        grid-template-columns: 1fr;
        margin-bottom: $space-2;
    }
}
