@use '@/styles/tokens' as *;

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: $space-4;
}

.details {
    display: flex;
    flex-direction: column;

    .highlightValue {
        color: $blue-dark;
    }
}
