@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.wrapper {
    overflow-x: auto;

    .table {
        --table-columns: 0.5fr minmax(125px, 2.5fr) 2.5fr 2fr 2fr
            minmax(110px, 1fr);
    }

    @include media-down(md) {
        .table {
            --table-columns: 0.5fr minmax(180px, 3fr) 2fr 1.5fr
                minmax(110px, 1fr);

            .country {
                display: none;
            }
        }
    }

    @include media-down(xs) {
        .table {
            min-width: 700px;
        }
    }
}
