@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.wrapper {
    flex-grow: 1;
    overflow-x: auto;

    .table {
        --table-columns: 0.5fr minmax(210px, 2.5fr) 2.5fr 2fr 2fr
            minmax(110px, 1fr);
    }

    &.skeleton {
        .tableSkeleton {
            display: flex;
            flex-direction: column;
            gap: $space-0-5;
        }

        .rowSkeleton {
            display: flex;
            gap: $space-0-5;
        }

        .checkboxSkeleton {
            height: 64px;
            width: 4%;
        }

        .nameSkeleton {
            height: 64px;
            width: 24%;
        }

        .positionSkeleton {
            height: 64px;
            width: 24%;
        }

        .countrySkeleton {
            height: 64px;
            width: 19%;
        }

        .statusSkeleton {
            height: 64px;
            width: 19%;
        }

        .actionsSkeleton {
            height: 64px;
            width: 10%;
        }
    }

    @include media-down(lg) {
        .table {
            --table-columns: 0.5fr minmax(210px, 3fr) 2fr 1.5fr
                minmax(100px, 1fr);

            min-width: 485px;

            .country {
                display: none;
            }
        }
    }

    @include media-down(sm) {
        .table {
            --table-columns: 0.5fr minmax(210px, 3fr) 1fr minmax(120px, 1fr);

            min-width: 535px;

            .position {
                display: none;
            }
        }
    }
}
