@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $space-6;
    height: 100%;

    .header {
        align-items: center;
        display: flex;
        gap: $space-1;
        justify-content: space-between;

        .titleWrapper {
            display: flex;
            flex-direction: column-reverse;
            min-width: 0;

            .title {
                color: $gray-dark;
                font-size: $text-xl;
                font-weight: $font-normal;
            }

            .value {
                color: $gray-darkest;
                font-size: $text-4xl;
                font-weight: $font-bold;
            }
        }

        .variation {
            align-items: center;
            display: flex;
            font-size: $text-xl;
            font-weight: $font-bold;
            gap: $space-1;

            &.positive {
                color: $green-base;
            }

            &.negative {
                color: $red-dark;
            }

            svg {
                height: 14px;
                width: 14px;
            }
        }
    }

    .chartContainer {
        align-items: flex-end;
        display: flex;
        flex-grow: 1;
    }

    &.skeleton {
        .titleSkeleton {
            height: 18px;
            width: 120px;
        }

        .valueSkeleton {
            height: 28px;
            width: 90px;
        }

        .variationSkeleton {
            height: 18px;
            width: 55px;
        }

        .chartSkeleton {
            height: 245px;
            width: 100%;
        }
    }

    @include media-down(md) {
        gap: $space-5;

        .header {
            .titleWrapper {
                .title {
                    font-size: $text-lg;
                }

                .value {
                    font-size: $text-3xl;
                }
            }

            .variation {
                font-size: $text-lg;

                svg {
                    height: 12px;
                    width: 12px;
                }
            }
        }
    }

    @include media-down(xs) {
        gap: $space-7;

        .header {
            .titleWrapper {
                .title {
                    font-size: $text-2xl;
                }

                .value {
                    font-size: $text-5xl;
                }
            }

            .variation {
                font-size: $text-2xl;
                gap: $space-1-5;

                svg {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
}
