@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.chart {
    aspect-ratio: 1.618;
    height: 245px;
    width: 100%;

    :global(.recharts-cartesian-axis-tick-value) {
        fill: $gray-darkest;
        font-size: $text-lg;
        font-weight: $font-semibold;
    }

    @include media-down(md) {
        height: 224px;

        :global(.recharts-cartesian-axis-tick-value) {
            font-size: $text-base;
        }
    }

    @include media-down(xs) {
        height: 240px;

        :global(.recharts-cartesian-axis-tick-value) {
            font-size: $text-xl;
        }
    }
}
