@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.dashboard {
    display: grid;
    gap: $space-3;
    grid-template-areas:
        'sales sales sales'
        'todaySales todayVisitors weekVisitors'
        'country country customers'
        'country country device'
        'transactions transactions transactions';
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(5, auto);

    .sales {
        grid-area: sales;
        width: 100%;
    }

    .todaySales {
        grid-area: todaySales;
        width: 100%;
    }

    .todayVisitors {
        grid-area: todayVisitors;
        width: 100%;
    }

    .weekVisitors {
        grid-area: weekVisitors;
        width: 100%;
    }

    .sessionsByCountry {
        grid-area: country;
        width: 100%;
    }

    .latestCustomers {
        grid-area: customers;
        width: 100%;
    }

    .sessionsByDevice {
        grid-area: device;
        width: 100%;
    }

    .transactions {
        grid-area: transactions;
        width: 100%;
    }

    @include media-down(lg) {
        gap: $space-1-5;
        grid-template-areas:
            'sales sales'
            'todayVisitors weekVisitors'
            'todaySales customers'
            'country country'
            'transactions transactions';
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(5, auto);

        .sessionsByDevice {
            display: none;
        }
    }

    @include media-down(sm) {
        gap: $space-3;
        grid-template-areas:
            'sales'
            'todayVisitors'
            'weekVisitors'
            'todaySales'
            'customers'
            'country'
            'transactions';
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: repeat(7, auto);
    }
}
