@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        align-items: center;
        display: flex;

        .icon svg {
            background-color: $purple-light;
            border-radius: $rounded-sm;
            color: $purple-dark;
            display: block;
            padding: $space-1;
        }

        .title {
            color: $gray-darkest;
            font-weight: $font-bold;
        }
    }

    &.default {
        .header {
            border-bottom: $border solid $gray-light;
            gap: $space-4;
            margin-inline: -$space-5;
            padding-bottom: $space-4;
            padding-inline: $space-5;

            .icon svg {
                height: 36px;
                width: 36px;
            }

            .title {
                font-size: $text-3xl;
            }
        }
    }

    &.compact {
        .header {
            gap: $space-3;
            padding-bottom: $space-3;

            .icon svg {
                height: 32px;
                width: 32px;
            }

            .title {
                font-size: $text-2xl;
            }
        }
    }

    &.skeleton {
        .iconSkeleton {
            flex-shrink: 0;
            height: 36px;
            width: 36px;
        }

        .titleSkeleton {
            height: 25px;
            width: 225px;
        }
    }

    @include media-down(lg) {
        &.default {
            .header {
                gap: $space-2;
                margin-inline: -$space-4;
                padding-bottom: $space-3;
                padding-inline: $space-4;

                .icon svg {
                    height: 30px;
                    width: 30px;
                }

                .title {
                    font-size: $text-2xl;
                }
            }
        }

        &.compact {
            .header {
                gap: $space-2;
                padding-bottom: $space-2;

                .icon svg {
                    height: 28px;
                    width: 28px;
                }

                .title {
                    font-size: $text-xl;
                }
            }
        }
    }

    @include media-down(sm) {
        &.default {
            .header {
                margin-inline: -$space-5;
                padding-bottom: $space-2;
                padding-inline: $space-5;

                .icon svg {
                    height: 26px;
                    width: 26px;
                }

                .title {
                    font-size: $text-xl;
                }
            }
        }

        &.compact {
            .header {
                gap: $space-1-5;

                .icon svg {
                    height: 24px;
                    width: 24px;
                }

                .title {
                    font-size: $text-lg;
                }
            }
        }
    }
}
