@use '@/styles/tokens' as *;

.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        align-items: center;
        border-bottom: $border solid $gray-light;
        display: flex;
        gap: $space-4;
        margin-inline: -$space-5;
        padding-bottom: $space-4;
        padding-inline: $space-5;

        .icon {
            svg {
                background-color: $purple-light;
                border-radius: $rounded-sm;
                color: $purple-dark;
                height: 36px;
                padding: $space-1;
                width: 36px;
            }
        }

        .title {
            color: $gray-darkest;
            font-size: $text-3xl;
            font-weight: $font-semibold;
        }
    }
}
