@use '@/styles/tokens' as *;

.card {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
        align-items: center;
        display: flex;

        .icon svg {
            background-color: $purple-light;
            border-radius: $rounded-sm;
            color: $purple-dark;
            padding: $space-1;
        }

        .title {
            color: $gray-darkest;
            font-weight: $font-bold;
        }
    }

    &.default {
        .header {
            border-bottom: $border solid $gray-light;
            gap: $space-4;
            margin-inline: -$space-5;
            padding-bottom: $space-4;
            padding-inline: $space-5;

            .icon svg {
                height: 36px;
                width: 36px;
            }

            .title {
                font-size: $text-3xl;
            }
        }
    }

    &.compact {
        .header {
            gap: $space-3;
            padding-bottom: $space-3;

            .icon svg {
                height: 32px;
                width: 32px;
            }

            .title {
                font-size: $text-2xl;
            }
        }
    }
}
