@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    .header {
        display: flex;
        flex-direction: column;
        gap: $space-2;
        padding-bottom: $space-4;

        .title {
            color: $gray-darkest;
            font-size: $text-3xl;
            font-weight: $font-bold;
        }

        .description {
            color: $gray-dark;
            font-size: $text-xl;
            font-weight: $font-normal;
        }
    }

    &.divider {
        .header {
            border-bottom: $border solid $gray-light;
        }
    }

    &.skeleton {
        .titleSkeleton {
            height: 25px;
            width: 200px;
        }

        .descriptionSkeleton {
            height: 18px;
            width: 300px;
        }
    }

    @include media-down(lg) {
        .header {
            gap: $space-1-5;
            padding-bottom: $space-3;

            .title {
                font-size: $text-2xl;
            }

            .description {
                font-size: $text-lg;
            }
        }
    }

    @include media-down(sm) {
        .header {
            gap: $space-2;
            padding-bottom: $space-4;

            .title {
                font-size: $text-3xl;
            }

            .description {
                font-size: $text-xl;
            }
        }
    }
}
