@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.infoList {
    border-top: $border solid $gray-light;
    display: flex;
    flex-direction: column;
    gap: $space-3;
    margin-inline: -$space-5;
    padding-inline: $space-5;
    padding-top: $space-3;

    @include media-down(lg) {
        gap: $space-2;
        margin-inline: -$space-4;
        padding-inline: $space-4;
    }

    @include media-down(sm) {
        gap: $space-1-5;
        margin-inline: -$space-5;
        padding-inline: $space-5;
        padding-top: $space-2;
    }
}
