@use '@/styles/tokens' as *;

.infoList {
    border-top: $border solid $gray-light;
    display: flex;
    flex-direction: column;
    gap: $space-3;
    margin-inline: -$space-5;
    padding-inline: $space-5;
    padding-top: $space-3;
}
