@use '@/styles/tokens' as *;

.item {
    align-items: center;
    border: $border solid $gray-light;
    border-radius: $rounded-md;
    display: flex;
    gap: $space-4;
    justify-content: space-between;
    padding: $space-3-5;

    .header {
        align-items: center;
        display: flex;
        gap: $space-4;

        .icon {
            display: flex;

            svg {
                height: 28px;
                width: 28px;
            }
        }

        .label {
            color: $gray-dark;
            font-size: $text-2xl;
            font-weight: $font-medium;
        }
    }

    .value {
        color: $gray-dark;
        font-size: $text-2xl;
        font-weight: $font-medium;
    }
}
