@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.item {
    align-items: center;
    border: $border solid $gray-light;
    border-top: 0;
    display: flex;
    gap: $space-4;
    justify-content: space-between;
    padding: $space-3-5;

    &:first-child {
        border-radius: $rounded-md $rounded-md 0 0;
        border-top: $border solid $gray-light;
    }

    &:last-child {
        border-radius: 0 0 $rounded-md $rounded-md;
    }

    .header {
        align-items: center;
        display: flex;
        gap: $space-4;

        .icon {
            display: flex;

            svg {
                height: 28px;
                width: 28px;
            }

            &.purple {
                color: $purple-dark;
            }

            &.green {
                color: $green-base;
            }

            &.blue {
                color: $blue-dark;
            }

            &.orange {
                color: $orange-base;
            }
        }

        .label {
            color: $gray-dark;
            font-size: $text-2xl;
            font-weight: $font-medium;
        }
    }

    .value {
        color: $gray-dark;
        font-size: $text-2xl;
        font-weight: $font-medium;
    }

    @include media-down(lg) {
        gap: $space-2;
        padding: $space-3;

        .header {
            gap: $space-2-5;

            .icon {
                svg {
                    height: 22px;
                    width: 22px;
                }
            }

            .label {
                font-size: $text-xl;
            }
        }

        .value {
            font-size: $text-xl;
        }
    }
}
