@use '@/styles/tokens' as *;
@use '@/styles/patterns' as *;
@use '@/styles/mixins' as *;

.item {
    @include settings-list-item;

    .info {
        @include settings-list-info;

        .content {
            @include settings-list-content;

            .name {
                color: $gray-darkest;
                font-size: $text-2xl;
                font-weight: $font-semibold;
            }

            .city {
                color: $blue-dark;
                font-size: $text-xl;
                font-weight: $font-medium;
            }

            .lastSeen {
                color: $gray-dark;
                font-size: $text-lg;
                font-weight: $font-normal;
            }
        }
    }

    @include media-down(lg) {
        .info {
            .content {
                .name {
                    font-size: $text-xl;
                }

                .city {
                    font-size: $text-lg;
                }

                .lastSeen {
                    font-size: $text-base;
                }
            }
        }
    }

    @include media-down(sm) {
        .info {
            .content {
                .name {
                    font-size: $text-2xl;
                }

                .city {
                    font-size: $text-xl;
                }

                .lastSeen {
                    font-size: $text-lg;
                }
            }
        }

        .button {
            width: 100%;
        }
    }
}
