@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.tableRow {
    align-items: center;
    display: grid;
    gap: $space-2;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-template-columns: var(--table-columns);
    height: 52px;
    justify-items: start;
    padding: 0 $space-4;

    @include media-down(md) {
        height: 40px;
        padding: 0 $space-3;
    }
}
