@use '@/styles/tokens' as *;

.settings {
    display: grid;
    flex-grow: 1;
    gap: $space-3;

    .topSection,
    .middleSection,
    .bottomSection {
        display: grid;
        gap: $space-3;
    }

    .topSection {
        grid-template-areas:
            'profile general'
            'language general'
            'social general';
        grid-template-columns: 3fr 5fr;
    }

    .middleSection {
        grid-template-areas: 'connected password';
        grid-template-columns: 3fr 5fr;
    }

    .bottomSection {
        grid-template-areas:
            'notifications email'
            'devices devices';
        grid-template-columns: 1fr 1fr;
    }
}
