@use '@/styles/tokens' as *;

.settings {
    display: grid;
    flex-grow: 1;
    gap: $space-3;
    grid-template-areas:
        'profile general'
        'language general'
        'social general'
        'connected password'
        'notifications email'
        'devices devices';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, max-content);
}
