@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.settings {
    display: grid;
    flex-grow: 1;
    gap: $space-3;

    .topSection,
    .middleSection,
    .bottomSection {
        display: grid;
        gap: $space-3;
    }

    .topSection {
        grid-template-areas:
            'profile general'
            'language general'
            'social general';
        grid-template-columns: 3fr 5fr;
    }

    .middleSection {
        grid-template-areas: 'connected password';
        grid-template-columns: 3fr 5fr;
    }

    .bottomSection {
        grid-template-areas:
            'notifications email'
            'devices devices';
        grid-template-columns: 1fr 1fr;
    }

    @include media-down(lg) {
        gap: $space-1-5;

        .topSection,
        .middleSection,
        .bottomSection {
            gap: $space-1-5;
            grid-template-columns: 1fr;
        }

        .topSection {
            grid-template-areas:
                'profile'
                'language'
                'social'
                'general';
        }

        .middleSection {
            grid-template-areas:
                'password'
                'connected';
        }

        .bottomSection {
            grid-template-areas:
                'notifications'
                'email'
                'devices';
        }
    }

    @include media-down(sm) {
        gap: $space-3;

        .topSection,
        .middleSection,
        .bottomSection {
            gap: $space-3;
        }
    }
}
