@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    display: flex;
    flex-wrap: wrap;
    gap: $space-5;

    .item {
        position: relative;

        .image {
            border-radius: $rounded-sm;
            display: block;
            height: 115px;
            width: 115px;
        }

        .button {
            bottom: 0;
            color: $red-dark;
            left: 0;
            position: absolute;
        }
    }

    @include media-down(lg) {
        gap: $space-4;

        .item {
            .image {
                height: 102px;
                width: 102px;
            }
        }
    }

    @include media-down(sm) {
        gap: $space-3;

        .item {
            .image {
                height: 88px;
                width: 88px;
            }
        }
    }
}
