@use '@/styles/tokens' as *;

.container {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: $space-1-5;

    .input {
        opacity: 0;
        pointer-events: none;
        position: absolute;

        &:checked + .control::before {
            transform: scale(1);
        }

        &:focus + .control {
            box-shadow: 0 0 0 2px rgba($blue-dark, 0.3);
        }
    }

    .control {
        background-color: $gray-light;
        border: $border solid $gray-base;
        display: grid;
        height: 14px;
        place-content: center;
        width: 14px;

        &.square {
            border-radius: $rounded-sm;
        }

        &.circle {
            border-radius: $rounded-full;
        }

        &::before {
            background: url('@/shared/icons/solid/check.svg') center / 12px
                no-repeat;
            background-color: $blue-dark;
            border-radius: inherit;
            content: '';
            height: inherit;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            width: inherit;
        }
    }

    .label {
        color: $gray-dark;
        font-size: $text-xl;
        font-weight: $font-normal;
    }
}
