@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $space-4;

    .title {
        color: $gray-darkest;
        font-size: $text-2xl;
        font-weight: $font-bold;
    }

    .list {
        .item {
            align-items: center;
            border-bottom: $border solid $gray-base;
            display: flex;
            gap: $space-2;
            justify-content: space-between;
            padding: $space-2 0;

            &:last-child {
                border-bottom: none;
            }

            .value {
                color: $black;
                font-size: $text-xl;
                font-weight: $font-semibold;
            }
        }
    }

    &.skeleton {
        .titleSkeleton {
            height: 20px;
            width: 140px;
        }

        .avatarSkeleton {
            height: 28px;
            width: 28px;
        }

        .nameSkeleton {
            height: 18px;
            width: 120px;
        }

        .emailSkeleton {
            height: 15px;
            width: 180px;
        }

        .valueSkeleton {
            height: 18px;
            width: 50px;
        }
    }

    @include media-down(md) {
        gap: $space-3-5;

        .title {
            font-size: $text-xl;
        }

        .list {
            .item {
                gap: $space-1-5;
                padding: $space-1-5 0;

                .value {
                    font-size: $text-lg;
                }
            }
        }

        &.skeleton {
            .titleSkeleton {
                height: 18px;
                width: 125px;
            }

            .nameSkeleton {
                height: 15px;
                width: 100px;
            }

            .emailSkeleton {
                height: 12px;
                width: 150px;
            }

            .valueSkeleton {
                height: 15px;
                width: 45px;
            }
        }
    }

    @include media-down(xs) {
        gap: $space-6;

        .title {
            font-size: $text-3xl;
        }

        .list {
            .item {
                gap: $space-3;
                padding: $space-2-5 0;

                .value {
                    font-size: $text-2xl;
                }
            }
        }

        &.skeleton {
            .titleSkeleton {
                height: 25px;
                width: 170px;
            }

            .nameSkeleton {
                height: 20px;
                width: 125px;
            }

            .emailSkeleton {
                height: 18px;
                width: 190px;
            }

            .valueSkeleton {
                height: 20px;
                width: 55px;
            }
        }
    }
}
