@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    padding: $space-3;

    @include media-down(md) {
        padding: $space-1-5;
    }

    @include media-down(xs) {
        padding: $space-3;
    }
}
