@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &.default {
        gap: $space-3;
        padding: $space-3;
    }

    &.plain {
        gap: $space-0;
        padding: $space-0;
    }

    @include media-down(lg) {
        &.default {
            gap: $space-1-5;
            padding: $space-1-5;
        }
    }

    @include media-down(sm) {
        &.default {
            gap: $space-3;
            padding: $space-3;
        }
    }
}
