@use '@/styles/mixins' as *;

.card {
    grid-area: email;

    &.skeleton {
        .itemSkeleton {
            height: 55px;
            width: 100%;
        }
    }

    @include media-down(lg) {
        &.skeleton {
            .itemSkeleton {
                height: 50px;
            }
        }
    }
}
