@use '@/styles/tokens' as *;

.field {
    display: flex;
    flex-direction: column;

    .label {
        color: $gray-darkest;
        font-weight: $font-medium;
    }

    .message {
        color: $gray-dark;
        font-weight: $font-normal;

        &.success {
            color: $green-dark;
        }

        &.error {
            color: $red-dark;
        }
    }

    &.regular {
        gap: $space-1-5;

        .label {
            font-size: $text-xl;
        }

        .message {
            font-size: $text-lg;
        }
    }

    &.large {
        gap: $space-2;

        .label {
            font-size: $text-2xl;
        }

        .message {
            font-size: $text-xl;
        }
    }
}
