@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.header {
    align-items: center;
    border-bottom: $border solid $gray-light;
    display: flex;
    justify-content: space-between;
    padding-bottom: $space-5;

    .title {
        color: $gray-darkest;
        font-size: $text-2xl;
        font-weight: $font-bold;
    }

    @include media-down(lg) {
        padding: $space-0 $space-2-5 $space-3-5;
    }
}
