@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.description {
    color: $gray-dark;
    font-size: $text-xl;
    font-weight: $font-normal;

    &.skeleton {
        .descriptionSkeleton {
            height: 150px;
            width: 100%;
        }
    }

    @include media-down(lg) {
        font-size: $text-lg;
    }

    @include media-down(sm) {
        font-size: $text-base;
    }
}
