@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    grid-area: devices;

    .table {
        --table-columns: 2.5fr 3fr 3.5fr 2fr minmax(50px, 1fr);

        .browser {
            font-weight: $font-semibold;
        }
    }

    @include media-down(lg) {
        .table {
            --table-columns: 3fr 4fr 2fr minmax(45px, 1fr);

            .location {
                display: none;
            }
        }
    }

    @include media-down(sm) {
        .table {
            --table-columns: 3fr 3fr minmax(45px, 1fr);

            .lastAccessed {
                display: none;
            }
        }
    }
}
