@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: $space-7;

        .title {
            color: $gray-dark;
            font-size: $text-xl;
            font-weight: $font-normal;
        }

        .value {
            color: $gray-darkest;
            font-size: $text-4xl;
            font-weight: $font-bold;
        }
    }

    .mapContainer {
        height: 100%;
        width: 100%;

        .map {
            background: $white;
            height: 275px;
            width: 100%;
        }

        :global(.tooltip-container) {
            pointer-events: none;
            position: fixed;
            transform: translate(-50%, -120%);
        }

        :global(.tooltip-title) {
            align-items: center;
            display: flex;
            gap: $space-1;
        }
    }

    .chartContainer {
        padding-top: $space-7;

        .chart {
            aspect-ratio: 1.618;
            height: 242px;
            width: 100%;
        }
    }

    @include media-down(md) {
        .header {
            margin-bottom: $space-6;

            .title {
                font-size: $text-lg;
            }

            .value {
                font-size: $text-3xl;
            }
        }

        .mapContainer {
            .map {
                height: 250px;
            }
        }

        .chartContainer {
            padding-top: $space-6;

            .chart {
                height: 278px;
            }
        }
    }
}
