@use '@/styles/tokens' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $space-7;

    .header {
        display: flex;
        flex-direction: column-reverse;

        .title {
            color: $gray-dark;
            font-size: $text-xl;
            font-weight: $font-normal;
        }

        .value {
            color: $gray-darkest;
            font-size: $text-4xl;
            font-weight: $font-bold;
        }
    }

    .mapContainer {
        height: 100%;
        overflow: hidden;
        width: 100%;

        .map {
            background: $white;
            height: 275px;
            width: 100%;
        }
    }

    .chartContainer {
        .chart {
            aspect-ratio: 1.618;
            height: 208px;
            width: 100%;

            :global(.recharts-cartesian-axis-tick-value) {
                fill: $gray-darkest;
                font-size: $text-lg;
                font-weight: $font-medium;
            }
        }
    }
}
