@use '@/styles/tokens' as *;

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: $space-7;

        .title {
            color: $gray-dark;
            font-size: $text-xl;
            font-weight: $font-normal;
        }

        .value {
            color: $gray-darkest;
            font-size: $text-4xl;
            font-weight: $font-bold;
        }
    }

    .mapContainer {
        height: 100%;
        width: 100%;

        .map {
            background: $white;
            height: 275px;
            width: 100%;
        }
    }

    .chartContainer {
        padding-top: $space-7;

        .chart {
            aspect-ratio: 1.618;
            height: 242px;
            width: 100%;
        }
    }
}
