@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.pagination {
    align-items: center;
    display: flex;
    gap: $space-3;

    .controls {
        align-items: center;
        color: $gray-darkest;
        display: flex;
        gap: $space-3;

        .button {
            .buttonText {
                display: none;
            }
        }
    }

    .info {
        color: $gray-dark;
        font-size: $text-xl;
        font-weight: $font-normal;

        strong {
            color: $gray-darkest;
            font-weight: $font-semibold;
        }
    }

    @include media-down(lg) {
        align-items: stretch;
        flex-direction: column-reverse;
        flex-grow: 1;
        gap: $space-4;

        .controls {
            .button {
                flex-grow: 1;

                .buttonText {
                    display: inline-block;
                }
            }
        }
    }

    @include media-down(sm) {
        .info {
            font-size: $text-2xl;
        }
    }
}
