@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    align-items: center;
    display: flex;
    gap: $space-4;
    padding: $space-4 $space-5;

    .input {
        max-width: 562px;
    }

    .actions {
        align-items: center;
        border-left: $border solid $gray-light;
        display: flex;
        gap: $space-4;
        padding-left: $space-3-5;
    }

    .button {
        flex-shrink: 0;
        margin-left: auto;
    }

    @include media-down(lg) {
        flex-wrap: wrap;
        gap: $space-4 $space-3;
        padding: $space-2-5 $space-0 $space-4;

        .input {
            max-width: 100%;
            order: 0;
        }

        .actions {
            border-left: none;
            gap: $space-3;
            order: 2;
            padding-left: $space-0;
        }

        .button {
            flex-grow: 1;
            order: 1;
        }
    }

    @include media-down(sm) {
        padding: $space-3 $space-0 $space-4;
    }
}
