@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    grid-column: span 2;

    .dropzoneField {
        .icon {
            color: $gray-dark;
            height: 36px;
            width: 36px;
        }

        .text {
            color: $gray-darkest;
            font-size: $text-2xl;
            font-weight: $font-normal;
        }
    }

    @include media-down(sm) {
        grid-column: auto;

        .dropzoneField {
            .text {
                font-size: $text-xl;
            }
        }
    }
}
