@use '@/styles/tokens' as *;

.item {
    display: flex;
    flex-direction: column;
    gap: $space-1-5;
    width: 100%;

    .button {
        align-items: center;
        background: url('@/shared/icons/outline/chevron-down.svg') right
            $space-2 center / 22px no-repeat;
        border-radius: $rounded;
        color: $gray-darkest;
        display: flex;
        font-size: $text-2xl;
        font-weight: $font-medium;
        gap: $space-4;
        padding: $space-1 $space-2;
        text-align: left;
        width: 100%;

        &:hover {
            background-color: $gray-light;
        }

        svg {
            height: 24px;
            width: 24px;
        }
    }

    .submenu {
        display: flex;
        flex-direction: column;
        gap: $space-6;
        max-height: 0;
        overflow: hidden;
        padding: 0;
    }

    &.expanded {
        .button {
            background-color: $gray-light;
            background-image: url('@/shared/icons/outline/chevron-up.svg');
        }

        .submenu {
            max-height: 1000px;
            padding: $space-2-5 0 $space-2-5 $space-12;
            transition: max-height 0.25s ease-in-out;
        }
    }
}
