@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.card {
    align-items: center;
    display: flex;
    gap: $space-4;
    grid-area: profile;

    .avatar {
        border-radius: $rounded-sm;
        height: 90px;
        width: 90px;
    }

    .info {
        .name {
            color: $gray-darkest;
            font-size: $text-4xl;
            font-weight: $font-bold;
        }

        .role {
            color: $gray-dark;
            font-size: $text-2xl;
            font-weight: $font-normal;
        }

        .button {
            margin-top: $space-3-5;
        }
    }

    &.skeleton {
        .nameSkeleton {
            height: 28px;
            margin-bottom: $space-1;
            width: 125px;
        }

        .roleSkeleton {
            height: 20px;
            margin-bottom: $space-3-5;
            width: 100px;
        }

        .buttonSkeleton {
            height: 36px;
            width: 150px;
        }
    }

    @include media-down(lg) {
        .info {
            .name {
                font-size: $text-3xl;
            }

            .role {
                font-size: $text-xl;
            }

            .button {
                margin-top: $space-3;
            }
        }
    }

    @include media-down(sm) {
        flex-direction: column;
        gap: $space-3;

        .avatar {
            height: 80px;
            width: 80px;
        }

        .info {
            text-align: center;
        }
    }
}
