@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.skills {
    display: grid;
    gap: $space-1;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));

    &.skeleton {
        .skillSkeleton {
            height: 42px;
            width: 100%;
        }
    }

    @include media-down(lg) {
        grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
    }

    @include media-down(sm) {
        grid-template-columns: repeat(auto-fit, minmax(85px, 1fr));
    }
}
