@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.badge {
    align-items: center;
    border: $border solid $gray-light;
    border-radius: $rounded;
    display: flex;
    gap: $space-2;
    padding: $space-2;

    .icon {
        flex-shrink: 0;
        height: 24px;
        width: 24px;
    }

    .label {
        color: $gray-dark;
        font-size: $text-xl;
        font-weight: $font-medium;
    }

    @include media-down(lg) {
        gap: $space-1-5;
        padding: $space-1-5;

        .icon {
            height: 20px;
            width: 20px;
        }

        .label {
            font-size: $text-lg;
        }
    }
}
