@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $space-6;
    justify-content: center;
    max-width: 875px;
    padding: $space-8;

    .image {
        height: 400px;
        margin-bottom: $space-4;
        width: auto;
    }

    .title {
        color: $gray-darkest;
        font-size: $text-6xl;
        font-weight: $font-bold;
        text-align: center;
    }

    .description {
        color: $gray-dark;
        font-size: $text-3xl;
        font-weight: $font-normal;
        text-align: center;
    }

    @include media-down(lg) {
        gap: $space-5;
        max-width: 640px;
        padding: $space-6;

        .image {
            height: 325px;
            margin-bottom: $space-3;
        }

        .title {
            font-size: $text-5xl;
        }

        .description {
            font-size: $text-2xl;
        }
    }

    @include media-down(sm) {
        gap: $space-4;
        max-width: 100%;
        padding: $space-4;

        .image {
            height: 250px;
            margin-bottom: $space-2;
            max-width: 100%;
        }

        .title {
            font-size: $text-4xl;
        }

        .description {
            font-size: $text-xl;
        }
    }
}
